* {
    margin: 0;
    padding: 0;
}

/* <---Product Card */

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    padding: 3px 0 3px 0;
    border: 2px solid black;
    background-color: #d1d1b5;
    margin: 2px;
    width: 12em;
    height: 20em;
    font-size: small;
}

.product-card:hover {
    background-color: #f3f3e6;
    cursor: pointer;
}

.product-card-img {
    display: flex;
    justify-content: center;
}

.product-card-img img {
    width: 100%;
    border-radius: 10px;
}

.product-card-desc {
    /* background-color: green; */
    padding: 0px 10px 0px 10px;
}

.product-card-desc ul li {
    list-style: none;
}

.product-card-btns {
    padding: 0 10px 0 10px;
}

.product-card-btns button {
    width: 100%;
    height: 2em;
    margin: 2px;
    background-color: #007bff;
    cursor: pointer;
}

/* Product Card --->*/

.category-container {
    background-color: #cacaca;
    padding: 3px 20px 3px 20px;
    margin: 7px 0 0 0;
    border-radius: 10px;
}

.category-name {
    font-weight: bold;
}

.card-holder {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.home-container {
    display: flex;
}

.home-left-side {
    background-color: #343a40;
    width: 10%;
}

.home-right-side {
    background-color: #f8f9fa;
    width: 90%;
    padding: 20px;
}
